
@{
    ViewBag.Title = "Index";
    Layout = null;

}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<div class="form-horizontal" >
    <form align="center">
        <h1 class="brand my-5">Home page</h1>
        <br />
     
        <a class="btn btn-primary col-md-2" href="@Url.Action("Index1","Home")" role="button" >
           Add business card
        </a><br />
  
        <a class="btn btn-primary col-md-2" href="@Url.Action("CardDetails","Home")" role="button" >
          View List of cards
        </a><br />
 
       </form>
</div>